<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/styles.css">
<link rel='icon' href="/img/weather.png">
<head>
<title>About</title>
</head>

<body>
    <div class='main-content'> {{>header}}
        <img class='portrait' src="./img/image.jpg" />
        <p>This site is created by Jithu, It uses data from MapBox and WeatherCast.</p>
        <p>Code available @ <a href="https://github.com/jithukuttanmm/node3-weather-website">Github</a></p>
    </div>
    {{>footer}}
</body>

</html>